.watch {
    background-color: #fff;
}

.watch a {
    text-decoration: none;
    overflow: hidden;
}

.watch h1 {
    text-align: left;
    margin-left: 30px;
}

.watchCard {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.watchBox {
    width: 240px;
    text-align: center;
}

.watch img {
    width: 185px;
    height: 218px;
}

.watchBox h2 {
    font-size: 16px;
    line-height: 120%;
}

.watchBox h3 {
    font-size: 20px;
    line-height: 120%;
}

.watchBox button {
    cursor: pointer;
    margin: 10px 0 20px;
}